*
{
    box-sizing: border-box;
}
h1
{
    text-align: center;
    background-image:linear-gradient( #87ceeb,#add8e6);
    color:white;
}
input,
button
{
    border:1px solid #87ceed;
    font-size:5vw;
    line-height:7vw;
    height:10vw;
    padding:0 5vw;
    outline: 0;
}
input
{
    border-radius:6vw 6vw 6vw 6vw;
}
button
{
    border-radius:6vw 6vw 6vw 6vw;
    background-color:#ffffff

}
#chats
{
    font-size:5vw;
}
#chats dt
{
    margin: 3vw 0;
    border:1px solid #87cefa;
    border-radius:6vw;
    padding:1vw 5vw;
    display: inline-block;
}
#chats dd
{
    margin-left: 20vw;
    border:1px solid #87cefa;
    position: relative;
    background-color:#ffffff;
    border-radius:3vw;
    padding:1vw 3vw;
}
#chats dd::before
{
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: -6vw;
    margin-top: -9vw;
    border: 3vw solid transparent;
    border-right: 6vw solid #87ceed;
    transform: rotate(40deg);
    z-index: -1;
}

#form
{
    display:none;
}
